# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
*.txt

# IDEs
.vscode/
.idea/

# Data
img/destino/
img/identificado/
img/letras/
img/origem/
img/resolver/